<head>
	<link type="text/css" href = "Tweet.css" rel="stylesheet"/>
</head>
<body class="body">
	


							
	{% for tweets in data %}
		<div id="5" class="Tweet">
			{{ tweets.user.name }}
			<br>
			@{{ tweets.user.screen_name }}
			<br>
			{{ tweets.text }}
			<br>
			<br>
		</div>
	{% endfor %}

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script>
	
		var server = io.connect(document.location.origin);
		server.emit('Obama');
		var i=5;
		server.on('Otweet', function(data){
			console.log('tweet received');
			i=i-1;
			if(i==0){

				$("#5").remove();

				for (j=4; j>0; j--){
					p=j+1;
					$("#"+j).attr("id",p);
				}

				$("body").prepend("<div id='1' class='Tweet'>"+data.user.name+"<br>@"+data.user.screen_name+"<br>"+data.text+"<br><br></div>")
				i=1;

			} else {
				$("body").prepend("<div id="+i+" class='Tweet'>"+data.user.name+"<br>@"+data.user.screen_name+"<br>"+data.text+"<br><br></div>")
			}
		});
	
	</script>

</body>
